/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1,
body #site-header #header-container #menu, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*$ninesixty-columns (default: 12) controls the default number of grid columns
$ninesixty-grid-width (default: 960px) controls the default overall grid width
$ninesixty-gutter-width */
body {
  font: 14px Arial, sans-serif;
  line-height: 1.5em;
}
body h1, body #site-header #header-container #menu, body h2, body h3, body h4 {
  font-family: Arvo, Georgia, serif;
  font-weight: bold;
  font-size: 18px;
}
body #site-header {
  background-color: #7650b3;
  min-width: 100%;
  height: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;
}
body #site-header #header-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  overflow: hidden;
  *zoom: 1;
}
body #site-header #header-container .site-title {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 680px;
}
body #site-header #header-container .site-title .logo {
  background: url("../img/teater_neuf.jpg") no-repeat;
  display: inline-block;
  width: 340px;
  height: 120px;
  margin-top: 10px;
  text-indent: -9999px;
  position: relative;
}
body #site-header #header-container #menu {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 480px;
  text-transform: uppercase;
}
body #site-header #header-container #menu a {
  color: #ffffff;
  text-decoration: none;
}
body #site-header #header-container #menu ul {
  list-style-type: none;
}
body #site-header #header-container #menu ul, body #site-header #header-container #menu ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
body #site-header #header-container #menu ul li {
  border-right: 1px solid #FFFFE1;
  padding: 4px;
}
body #site-header #header-container #menu ul li.social-icon {
  border: 0px;
}
body #site-topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #E99835;
  width: 100%;
  height: 30px;
  z-index: 9999;
  text-align: center;
}
body #site-topbar .logo {
  background: url("../img/dns_30px.png") no-repeat;
  display: inline-block;
  width: 271px;
  height: 100%;
  margin-top: 4px;
  text-indent: -9999px;
}
body #access {
  display: none;
}
body #content {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  overflow: hidden;
  *zoom: 1;
}
body #content #featured {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 1180px;
}
body #content #program-6days {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 1180px;
}
body #content #program-6days .day-1 {
  margin-left: 0;
}
body #content #program-6days .day-6 {
  margin-right: 0;
}
body #content #digest-news {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 1180px;
  margin-top: 25px;
}
body #content #digest-news .news-entry {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
body #content #digest-news .news-entry.alpha {
  margin-left: 0;
}
body #content #digest-news .news-entry.omega {
  margin-right: 0;
}
body #site-footer {
  background-color: #7650b3;
  min-width: 100%;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
body #site-footer #footer-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  overflow: hidden;
  *zoom: 1;
}
body #site-footer #footer-container #footer-about {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
body #site-footer #kolofon {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  overflow: hidden;
  *zoom: 1;
}
body #site-footer #kolofon #kolofon-text {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 1180px;
  margin-top: 25px;
}
