/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/inline-block-list";
@import "960/grid";

$main-color: #7650b3;

/*$ninesixty-columns (default: 12) controls the default number of grid columns
$ninesixty-grid-width (default: 960px) controls the default overall grid width
$ninesixty-gutter-width */
$ninesixty-grid-width: 1200px; 
body {
  font-size: 16px;

  #container {
    @include grid_container;
    @include clearfix;

    #branding {
      background: $main-color;
      height: 200px;
      /* TODO you are here... move menu right. */
      
      nav#access {
        a {
          color: #ffffff;
        }
        ul {
          @include inline-block-list;
          
          li {
            margin: 4px;
          }
        }
      }
    }

    #content{
      @include grid(12);
      @include clearfix;

    }
  } 
}
