@import './bower_components/foundation/scss/normalize';

// Foundation overrides
//@import "settings"; // Look in _settings.scss for what you can override
//$row-width: rem-calc(1440);
$primary-color: #650A15;
$secondary-color: #404040;
$anchor-font-color: lighten($primary-color, 5%);
$body-font-family: "Open Sans", sans-serif;
$header-font-family: Arvo, Georgia, serif;
$header-font-color: $secondary-color;

// Own colors
$button-color: #f1f1f1;
$yellow-color: #fdb813;

@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/visibility";
@import "foundation/components/type";


body {
    a {
        text-decoration: none;
        transition: all 0.3 linear; 
    }
    ul {
        list-style: disc;
        padding-left: 25px;

        li {
            display: list-item;
        }
    }
    strong {
        font-weight: bold;
    }
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
	em {
		font-style: italic;
	}
}
#ribbon img {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    width: 85px;
    @media #{$large-up} {
        width: auto;
    }
}

#site-header {
    background-color: $primary-color;
}

#header-container {
    @include grid-row();

    .site-title {
        @include grid-column(4);

        .logo {
            background: url('../img/teater_neuf_logo.png') no-repeat;
            background-size: contain;
            display: inline-block;
            width: 92px;
            height: 44px;
            text-indent: -9999px;
            position: relative;
            margin-top: 12px;
        }
    }
}
#menu {
    @include grid-column(7, $offset: 1);
    position: relative;
    text-transform: uppercase;

    a {
        color: #ffffff;
        text-decoration: none;
        font-family: $header-font-family;
        font-size: rem-calc(18);
    }

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: block;
    }

    ul > li {
        margin: 0px;
        padding: 0px;
        display: block;
        float: left;
        position: relative;

        &:hover ul, &:focus ul {
            display:block;
            z-index: 9;
            color: $yellow-color;
            background:darken($primary-color, 10%);
        }

        a {
            display: block;
            padding: 24px 20px;
            text-decoration: none;
            position: relative;

            &:hover, .current  {
                color: $yellow-color;
            }
        }

        .sub-menu {
            position: absolute;
            display: none;
            margin: 0;
            top: 76px; // aligned with navbar bottom
            left: 20px;
            li {
                position: relative;

                a {
                    padding: 18px 18px;
                }
            }
        }
    }
}
#cover-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    max-width: 1440px;
    margin-bottom: rem-calc(20);
    position: relative;

    .title-wrap {
        @include grid-row();
    }
    .entry-title {
        @include grid-column(12);
        position: absolute;
        bottom: 0;
        font-size: rem-calc(70);
        font-weight: bold;
        color: white;
    }
}
.home #cover-photo {
    height: 480px;
}
#content {
    @include grid-row();
    padding-bottom: rem-calc(20);

    .program-upcoming {
        @include grid-column(12);
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(20);

        ul.program-list {
            @include block-grid(4);

        }
        .entry-starttime {
            font-size: rem-calc(12);
            color: $secondary-color;
        }
        .program-more-link {
            float: right;
            font-size: rem-calc(12);
            color: $secondary-color;
        }
    }
    #digest-news {
        margin-bottom: rem-calc(20);

        h3 a {
            color: $header-font-color;
            margin-left: $column-gutter/2;
        }

        .news-entry {
            @include grid-column(4);
            img.button {
                width: 24px;
                height: auto;
                float: left;
                margin-right: 4px;
                margin-bottom: 28px;
            }
            a.entry-title{
                font-size: rem-calc(24);
                font-weight: bold;
            }
            .entry-meta {
                font-size: 12px;
                line-height: 2;
                padding-bottom: 6px;
            }
            .entry-summary {
                line-height: 1.4;
            }
        }
    }
}
/* Single posts */
.single-post,
.type-page {
    .body {
        @include grid-column(7);
        margin-bottom: rem-calc(25);
    }
    /* TODO sidebar */

    .entry-title {
        @include grid-column(12);
        margin-top: rem-calc(25);
    }
    .entry-title {
        line-height: 1.1;
    }
    .byline {
        color: $secondary-color;

        .author {
            color: #000;
            font-weight: bold;
        }
    }
    .entry-content {
        margin-top: rem-calc(30);
    }
    .text-body {
        @include grid-column(6);
        margin-bottom: 20px;

    }
    .thumbnail {
        @include grid-column(6);
        margin-bottom: 20px;

    }
    .page-title {
        margin-left: 10px;
    }
    .wp-post-image {
        margin-top: 10px;
    }

}
#social-sharing {
    margin-top: 10px;

    .share-twitter {
        display: inline-block;
    }
    .share-facebook {
        display: inline-block;
        position: relative;
        bottom: 3px;
    }

}
#posts-nav-link {
    @include grid-column(12);
}

#site-footer {
    $footer-color: #fff;

    background-color: $primary-color;
    min-width: 100%;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $footer-color;


    h2 {
        font-size: rem-calc(20);
    }
    a {
        color: $footer-color;
        text-decoration: none;

        &:link { color:  $footer-color; }
        &:hover { text-decoration: underline; }
        &:active { color: $footer-color; }
    }

    #footer-container {
        @include grid-row();

        #footer-about {
            @include grid-column(7);

            p,
            {
                font-size: rem-calc(14);
                line-height: 1.4;
            }

            ul{
                list-style: none;
                display: inline-block;
                margin: 0;
                padding: 0;

                li.social-icon {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    font-size: rem-calc(14);

                    img {
                        margin-right: 4px;
                    }
                }
                #facebook-icon img {
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
    #kolofon {
        @include grid-row();

        #kolofon-text {
            @include grid-column(12);
            font-size: rem-calc(14);
            margin-top: 25px;

        }
    }
}
.credits-wrap {
    @include grid-row();

    .credits {
        margin-top: 25px;
        margin-bottom: 25px;
        @include grid-column(12);
        text-align: center;
        color: #666;
        font-size: rem-calc(12);
    }
}
/* Reusable styles */
.love {
    color: #faafba;
}
/* Overrides */
.vcard {
    margin: 0;
    padding: 0;
    border: 0;
}
